body {
    background-image: url(../imgs/footer_lodyas.png);
    background-size: 400px 400px;
}

header {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar {
    padding: 20px;
}

.navbar-dark .navbar-brand {
    color: #fffd7c;
}

    .navbar-dark .navbar-brand:hover {
        color: #fffd7c;
    }

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link {
    color: #fffd7c7a;
}


    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #fffd7c;
    }

    .navbar-dark .navbar-nav .active > .nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show > .nav-link {
        color: #fffd7c;
    }


/* .mybtn{
    border: 2px solid #fffd7c;
    border-radius: 50px;
    padding: .5rem;
    transition: background-color .5s ease-in-out;
}

.mybtn:hover{
    color: rgb(0, 0, 0);
    background-color: #fffd7c;
} */

@media only screen and (max-width:767px) {
    .navbar-nav .mr-auto {
        background: rgba(0, 0, 0, 0.555);
    }

    .mybtn {
        border: none;
        border-radius: 0;
        padding: 0;
        transition: none;
    }

        .mybtn:hover {
            color: #fffd7c;
            ;
            background-color: transparent;
        }

    .navbar-toggler {
        color: #000000;
        background: #FFD700;
    }
}

/* -------------------------------------------------------- SIDE PANNEL START ------------------------------------------------ */

.card {
    margin-top: 40vh;
}

.side-pannel-our {
    margin: 20vh 35px 20vh 35px;
    border: 1px solid #FFD700;
    background-color: #3f3f3faf;
}


    .side-pannel-our .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: unset;
        padding-right: unset;
    }

    .side-pannel-our .col-md-2 {
        border-right: 1px solid #FFD700;
    }


    .side-pannel-our .list-group-item {
        color: #FFD700;
        border-radius: unset;
        transition: background-color .5s ease-in-out;
    }

.head {
    margin: 10px;
}


/* .side-pannel-our .list-group-item:hover{
    color: #ffffff;
    background-color: #FFD700;
} */

/* .side-pannel-our a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
    color: #ffffff;
    background-color: #FFD700;
} */

.side-pannel-our .col-md-10 .tab-content .head {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.side-pannel-our h3 {
    color: #ffa600;
}

.side-pannel-our .col-md-10 button {
    background-color: #6c757d;
}


.side-pannel-our .col-md-10 .dropdown-menu {
    background-color: #FFD700;
}

.side-pannel-our .col-md-10 .dropdown-item:hover {
    background-color: #fffd7c;
}

@media only screen and (max-width:767px) {
    .side-pannel-our {
        margin: 25vh 5px 20vh 35px;
    }
}

/* --------------------------------------------------------Customerb Update Form------------------------------------------------- */
.accdetails {
    background: #3f3f3faf;
    border: 1px solid #ffa600;
    padding: 40px;
    margin-bottom: 25px;
}

.tag {
    margin-right: 10px;
}

.sign h3 {
    margin-bottom: 30px;
    color: #ffa600;
    padding-left: 20px;
}

.formreg {
    padding-left: 30px;
    color: #FFD700;
}

.row {
    margin-bottom: 10px;
}

.tab {
    border: 1px solid #ffa600;
    padding: 20px;
    margin-bottom: 15px;
}

.form-group {
    margin-left: 35px;
}

.btn-primary {
    border: black;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffa600;
    color: #ffff;
    transition: background-color .5s ease-in-out;
}

.btndeit {
    margin-left: 750px;
}

.btn-primary:hover {
    background-color: #FFD700;
    color: black;
}

.form-control {
    width: 90%;
}

hr {
    border-top: 1px solid #FFD700;
}



/* -------------------------------------------------------- FOOTER START ------------------------------------------------ */


footer .row {
    margin-right: unset;
}

footer .col-md-4 .card {
    border: none;
    color: #fffd7c;
}

    footer .col-md-4 .card p {
        color: #fffd7c;
    }

    footer .col-md-4 .card h2 {
        color: #ffa600;
    }

footer img {
    padding: 1.25rem;
}

footer .copy {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
}

footer hr {
    border-top: 1px solid #6c757d;
}
/* -------------------------------------------------------- FOOTER END ------------------------------------------------ */
